<?xml version="1.0"?>
<launch>
  <arg name="transmission_hw_interface" default="hardware_interface/EffortJointInterface" />
  <arg name="limited" default="false"/>

  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find tm_description)/urdf/tm700_robotique2f_robot.urdf.xacro' 
  transmission_hw_interface:=$(arg transmission_hw_interface) " />
  <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find tm_description)/urdf/tm700_robotique2f_robot_joint_limited.urdf.xacro'
  transmission_hw_interface:=$(arg transmission_hw_interface) " />

</launch>

