<?xml version="1.0"?>
<robot name="tm700_robotiq" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/EffortJointInterface" />
  <xacro:arg name="stl_mesh" default="false" />
  <xacro:property name="prefix" value="" />

  <!-- gazebo stuff -->
  <xacro:include filename="$(find tm5_description)/urdf/common.gazebo.xacro" />
  <!-- <xacro:include filename="$(find tm5_description)/urdf/tm.gazebo.xacro" /> -->
  <xacro:tm_arm_gazebo prefix="${prefix}" />

  <!-- tm700 + 2f gripper -->
  <xacro:include filename="$(find tm5_700_gripper_description)/urdf/tm700_robotiq_gripper.urdf.xacro" />
  <xacro:tm5_700_robot prefix="${prefix}" joint_limited="false" stl_mesh="$(arg stl_mesh)" />

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
