<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="stl_mesh" default="false" />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="urdf_path" default="$(find tm5_700_gripper_description)/urdf/tm700_robotiq_gripper.urdf.xacro"/>

  <!-- startup simulated world 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include> -->

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros_link_attacher)/worlds/test_attacher.world"/>
    <arg name="paused" value="false"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg urdf_path)
  stl_mesh:=$(arg stl_mesh) transmission_hw_interface:=$(arg transmission_hw_interface) " />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0"
    respawn="false" output="screen" />

  
  <!-- Remap joint_trajectory_action, send to gazebo ros controller -->
  <remap from="/joint_trajectory_action" to="tm5_700_robotiq/tm5_700_arm_controller/follow_joint_trajectory"/> 

</launch>
