<?xml version="1.0" ?>
<robot name="blue_cube">
  <link name="base_link">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="0.3"/>
      <inertia ixx="0.03799" ixy="0.0" ixz="0.0" iyy="0.002127" iyz="0.0" izz="0.05922"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.505 0.675 0.015"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.505 0.675 0.015"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/DarkYellow</material>
    <kp>500</kp>
    <kd>500</kd>
    <mu1>300</mu> 
    <mu2>300</mu2>
  </gazebo>
</robot>

