<?xml version="1.0" ?>
<robot name="red_cube">
  <link name="base_link">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="0.3"/>
      <inertia ixx="4.166666666666668e-04" ixy="0.0" ixz="0.0" iyy="4.166666666666668e-04" iyz="0.0" izz="4.166666666666668e-04"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.30 0.21 0.165"/>
      </geometry>
      <material name="bo">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.30 0.21 0.165"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>

