<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="sup_slipsheets">

	<link name="world" />

	<joint name="fixed1" type="fixed">
		<parent link="world"/>
		<child link="sup_slipsheet"/>
		<origin xyz="0.67 0.0 0.0" rpy="0.0 0.0 0.0"/>
	</joint>

	<link name="sup_slipsheet">
		<inertial>
			<origin xyz="0.30 0.20 0.30" rpy="0 0 0" />
			<mass value="40" />
			<inertia ixx="7.5972" ixy="0" ixz="0" iyy="0.99673" iyz="0" izz="8.1168" />
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://demo_world/meshes/sup_slipsheet.stl" />
			</geometry>
			<material name="white">
				<color rgba="0.5 0.5 1 1" />
			</material>
		</visual>
		<collision>
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
          <geometry>
             <mesh filename="package://demo_world/meshes/sup_slipsheet.stl" />
          </geometry>
        </collision>
	</link>

</robot>