<?xml version="1.0"?>
<launch>
  <arg name="stl_mesh" default="false" />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="limited" default="false"/>

  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find tm5_700_gripper_description)/urdf/tm700_robotiq_robot.urdf.xacro' 
  stl_mesh:=$(arg stl_mesh) transmission_hw_interface:=$(arg transmission_hw_interface) " />

  <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find tm5_700_gripper_description)/urdf/tm700_robotiq_robot_joint_limited.urdf.xacro'
  stl_mesh:=$(arg stl_mesh) transmission_hw_interface:=$(arg transmission_hw_interface) " />

</launch>

